<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785562573103-cj5jvfppf41s752atu8tic1sum38d4om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785562573103-cj5jvfppf41s752atu8tic1sum38d4om</string>
	<key>API_KEY</key>
	<string>AIzaSyC5xU7fGeGlG0uYGblsijXX9u27Lxd4WCg</string>
	<key>GCM_SENDER_ID</key>
	<string>785562573103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kh.edu.widcy.demoapp</string>
	<key>PROJECT_ID</key>
	<string>demoapp-a061f</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-a061f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785562573103:ios:6e6f9a1a5628dad74429da</string>
</dict>
</plist>